
.nav {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    list-style: none;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;

    li {
        margin: 0 .8rem;

        a {
            display: block;
            margin: 0;
            padding: 8px;
            text-decoration: none;

            &:link,
            &:visited {
                color: #494946;
            }

            &:hover,
            &:active {
                color: rgba(26, 26, 110, 0.85);
                text-decoration: underline;
            }
        }

        ul {
            a {
                padding-left: 1rem;
            }
        }
    }
}
   
