.container {
  max-width: 740px;
  width: 100%;
  margin: auto;
  padding: 1rem;
  min-height: 100vh;

  p {
    padding: 8px 0;
  }

  button {
    padding: 16px 8px;
    width: 100%;
    margin-top: 12px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: #5c5b5b;
    color: #f8f8f8;
  }

  .btn-disabled {
    background-color: lightgray;
  }
}

.quiz-container {
  background-color: #f8f8f8;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;

  li {
    list-style-type: none;
    cursor: pointer;
    margin: 9px 0;
    padding: 16px 8px;
    color: #000105;
    border: 1px solid lightgray;

    &:hover {
      background-color: #d8d8d8;
    }
  }

  .li-selected {
    color: #fff;
    background-color: #000925;
  }

  .li-selected.correct-answer {
    background-color: rgb(5, 68, 5);
  }

  .li-selected.wrong-answer {
    background-color: rgb(202, 13, 13);
  }

  .li-hover {
    cursor: pointer;
    /*padding: 8px;*/
    margin: 4px;
  }
}