.button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .chartContainer {
    margin: 20px auto;
    width: 50%;
  }
  