.footer {
    color: #494946;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;

    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        }
    }